@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
}

@layer components {
  .search-input {
    @apply mb-2 block w-60;
    font-family: "Courier New", Courier, monospace;
  }
}

@layer utilities {
  .button-theme {
    @apply m-2 rounded-full bg-blue-600 py-2 px-4 font-bold text-white hover:opacity-50;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }

  .workout-desc {
    @apply m-1 rounded-md bg-slate-600 p-1 text-white shadow-md;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
}

#root-app {
  height: 100vh;
}
